/* Frame 1 */

position: relative;
width: 1000px;
height: 700px;

background: #1D5D9B;


/* Group 14 */

position: absolute;
width: 1546px;
height: 273px;
left: -180px;
top: 470px;



/* 12919026_60251-removebg-preview 2 */

position: absolute;
width: 600.16px;
height: 273px;
left: 291.72px;
top: 470px;

background: url(12919026_60251-removebg-preview.png);


/* 12919026_60251-removebg-preview 3 */

position: absolute;
width: 600.16px;
height: 242.36px;
left: 765.84px;
top: 479.75px;

background: url(12919026_60251-removebg-preview.png);


/* 12919026_60251-removebg-preview 1 */

position: absolute;
width: 600.16px;
height: 240.96px;
left: -180px;
top: 492.29px;

background: url(12919026_60251-removebg-preview.png);


/* DONATEME! */

position: absolute;
width: 398px;
height: 102px;
left: calc(50% - 398px/2);
top: 209px;

font-family: 'MuseoModerno';
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 102px;
/* identical to box height */

color: #FFFFFF;



/* Group 1 */

position: absolute;
width: 204px;
height: 45px;
left: -12px;
top: 87px;



/* Rectangle 1 */

position: absolute;
width: 204px;
height: 45px;
left: -12px;
top: 87px;

background: #FFFFFF;
border-radius: 0px 40px 40px 0px;


/* search */

position: absolute;
width: 29.85px;
height: 30px;
left: 153.63px;
top: 94px;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #000000;


/* Search */

position: absolute;
width: 96.53px;
height: 38px;
left: 12.33px;
top: 90px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 38px;
/* identical to box height */

color: #000000;



/* Group 7 */

position: absolute;
width: 204px;
height: 45px;
left: -156px;
top: 566px;



/* Rectangle 7 */

position: absolute;
width: 204px;
height: 45px;
left: -156px;
top: 566px;

background: #FFFFFF;
border-radius: 0px 40px 40px 0px;


/* Quit */

position: absolute;
width: 64px;
height: 38px;
left: -140px;
top: 569px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 38px;
/* identical to box height */

color: #000000;



/* x */

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 571px;



/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

border: 2px solid #000000;


/* Group 6 */

position: absolute;
width: 204px;
height: 45px;
left: -156px;
top: 426px;



/* Rectangle 6 */

position: absolute;
width: 204px;
height: 45px;
left: -156px;
top: 426px;

background: #FFFFFF;
border-radius: 0px 40px 40px 0px;


/* Quiz */

position: absolute;
width: 96px;
height: 38px;
left: -140px;
top: 429px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 38px;
/* identical to box height */

color: #000000;



/* light-bulb */

position: absolute;
width: 33px;
height: 33px;
left: 2px;
top: 428px;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #000000;


/* Group 5 */

position: absolute;
width: 204px;
height: 45px;
left: -156px;
top: 357px;



/* Rectangle 5 */

position: absolute;
width: 204px;
height: 45px;
left: -156px;
top: 357px;

background: #FFFFFF;
border-radius: 0px 40px 40px 0px;


/* Hangman */

position: absolute;
width: 158px;
height: 38px;
left: -138px;
top: 361px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 38px;
/* identical to box height */

color: #000000;



/* user */

position: absolute;
width: 33px;
height: 33px;
left: 3px;
top: 361px;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #000000;


/* Group 4 */

position: absolute;
width: 204px;
height: 45px;
left: -156px;
top: 288px;



/* Rectangle 4 */

position: absolute;
width: 204px;
height: 45px;
left: -156px;
top: 288px;

background: #FFFFFF;
border-radius: 0px 40px 40px 0px;


/* Attach */

position: absolute;
width: 116px;
height: 38px;
left: -138px;
top: 292px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 38px;
/* identical to box height */

color: #000000;



/* paper-clip */

position: absolute;
width: 37px;
height: 37px;
left: 0px;
top: 293px;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 16.66%;
right: 14.58%;
top: 12.7%;
bottom: 12.5%;

border: 2px solid #000000;


/* Group 3 */

position: absolute;
width: 204px;
height: 45px;
left: -156px;
top: 217px;



/* Rectangle 3 */

position: absolute;
width: 204px;
height: 45px;
left: -156px;
top: 217px;

background: #FFFFFF;
border-radius: 0px 40px 40px 0px;


/* Translate */

position: absolute;
width: 158px;
height: 38px;
left: -138px;
top: 220px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 38px;
/* identical to box height */

color: #000000;



/* switch-horizontal */

position: absolute;
width: 31px;
height: 32px;
left: 3px;
top: 223px;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #000000;


/* Group 2 */

position: absolute;
width: 204px;
height: 45px;
left: -156px;
top: 153px;



/* Rectangle 2 */

position: absolute;
width: 204px;
height: 45px;
left: -156px;
top: 153px;

background: #FFFFFF;
border-radius: 0px 40px 40px 0px;


/* Add */

position: absolute;
width: 64px;
height: 38px;
left: -140px;
top: 156px;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 38px;
/* identical to box height */

color: #000000;



/* plus-circle */

position: absolute;
width: 31px;
height: 31px;
left: 7px;
top: 160px;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #000000;
